/node_modules
/public/hot
/public/storage
/public/media
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/.htaccess
/public/.user.ini
/error_log
/public/error_log
/public/php.ini